/* Colores Normales */
.TM-Pro-1-n { color: #9B2B32; }
.TM-Pro-2-n { color: #FF7F11; }
.TM-Pro-3-n { color: #E63948; }
.TM-Pro-4-n { color: #CC600D; }
.TM-Pro-5-n { color: #F7E14B; }
.TM-Pro-5-n { color: #E6D843; }

/*Colores Oscuros*/
.TM-Pro-1-o { color: #0E2837; }
.TM-Pro-2-o { color: #37360E; }
.TM-Pro-3-o { color: #54151A; }
.TM-Pro-4-o { color: #3C2224; }
.TM-Pro-5-o { color: #22292D; }

/*Colores claros*/
.TM-Pro-4-c { color: #CC767D; }
.TM-Pro-5-c { color: #A4C7DB; }








